{% load static %}
<header class="header text-center">	    
    <p class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="{% url 'home:home' %}">Nam Le's Blog</a></p>
    
    <nav class="navbar navbar-expand-lg navbar-dark" >
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'home/images/profile2.jpg' %}" alt="image" >			
                
                <div class="bio mb-3">Xin chào! Tôi là Nam. Kỹ sư ngành Khoa Học Máy Tính. Blog này của tôi được viết bằng <strong>Django</strong>. Thông tin thêm...<br><a href="#"><strong>About me</strong></a></div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://www.facebook.com/NamLNN/"><i class="fab fa-facebook fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/c/QuánTràAI"><i class="fab fa-youtube fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/lehatnam82"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://quantraai.com/"><i class="fab fa-wordpress fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://stackoverflow.com/users/16916452/"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr> 
            </div><!--//profile-section-->
            
            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home:home' %}"><i class="fas fa-home fa-fw me-2"></i>Blog Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://quantraai.com/"><i class="fab fa-wordpress fa-fw me-2"></i>Quán  Trà AI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
                </li>
            </ul>
        </div>
    </nav>
</header>